body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Simple sticky header */
.MuiAppBar-root {
  position: fixed !important;
  top: 0 !important;
  z-index: 1300 !important;
}

/* Adjust layout for fixed header */
.RaLayout-appFrame {
  margin-top: 64px !important;
}
